<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/main.css" rel="stylesheet" />

    <script src="~/Scripts/packages/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/packages/angular.bundled.min.js"></script>
    <script src="~/Scripts/packages/moment.min.js"></script>
    <script src="~/Scripts/controllers/app.js"></script>

</head>
<body ng-app="newApp">
    <div>
        @RenderBody()
    </div>
</body>
</html>
