<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassGenerator.Properties.Settings.FSNextConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=FSNext;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>