<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/log/${logger}.txt"
      layout="${longdate}|${level}| ${message} ${exception}"
      concurrentWrites="true"
      encoding="utf-8"              
      archiveFileName="${basedir}/log/archives/log.{#####}.txt"
      archiveEvery="Day"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"/>

      <target name="eventlog" xsi:type="EventLog"
        layout="${longdate}|${level}| ${message} ${exception}"
        machineName="."
        source="NLogSample"
        log="Application"/>

      <target name="email" xsi:type="Mail" html="true" subject="Error Received" body="${message}"
         to="Maxim.Grishkov@jti.com"
         from="noreply@nlog.com"
         Encoding="UTF-8"
         enableSsl="False"
         smtpAuthentication="None"
         smtpServer="GVASMTP.JTI.COM"
         smtpPort="25" />
      
  </targets>
  <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="eventlog" />
      <logger name="*" minlevel="Error" writeTo="email" />
      
  </rules>
</nlog>
