<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExchangeRateCBR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExchangeRateCBR.Properties.Settings>
            <setting name="ExchangeRateCBR_ru_cbr_www_DailyInfo" serializeAs="String">
                <value>http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx</value>
            </setting>
        </ExchangeRateCBR.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
